/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    overflow-x: hidden;
}

body {
    background: rgba(13, 13, 13, 1);
    position: relative;
    overflow-x: hidden;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.child-img {
    max-width: 100%;
}

.light {
    position: absolute;
    z-index: 5;
    opacity: .1;
}

.light-1 {
    top: 374px;
    left: -985px;
}

.light-2 {
    top: 726px;
    right: -737px;
}

.light-3 {
    bottom: 791px;
    left: -835px;
}

.title {
    font-family: 'TT Bluescreens Trial';
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    color: rgba(240, 142, 2, 1);
    text-align: center;
}

/* FONTS */

@font-face {
    font-family: 'TT Bluescreens Trial';
    src: url(../fonts/TTBluescreensTrialDemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Bluescreens Trial';
    src: url(../fonts/TTBluescreensTrialBold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Light.woff') format('woff'),
         url('../fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Medium.woff') format('woff'),
            url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

.tt {
    font-family: 'TT Bluescreens Trial';
}

.clash {
    font-family: 'ClashDisplay';
}

/* PROMO SECTION */

.promo {
    padding: 5vh 0;
    height: 100vh;
    position: relative;
}

.promo::before,
.promo::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
}

.promo::before {
    bottom: 0;
    height: 306px;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0D0D0D 100%);
}

.promo::after {
    bottom: -264px;
    height: 264px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0D0D0D 100%);
}

.promo__wrapper {
    height: 100%;
    max-width: 1177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.promo-title {
    font-size: 100px;
    font-weight: 600;
    line-height: 113%;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.promo-title span {
    color: rgba(240, 142, 2, 1);
}

.mouse__wrapper {
    width: 133px;
    height: 133px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: upDown 3.5s infinite;
    border: 2px solid rgba(154, 154, 154, 1);
    border-radius: 50%;
}

.mouse__wrapper {
    animation: upDown 3.5s infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(-20%);
    }
}

.promo-video {
    opacity: .25;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* MARQUEE */

.marquee {
    padding-top: 73px;
    overflow: hidden;
}

.marquee__wrapper {
    display: flex;
    gap: 20px;
}

.marquee-item {
    white-space: nowrap;
    font-size: 200px;
    font-weight: 700;
    line-height: 113%;
    color: rgba(26, 26, 26, 1);
    animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

/* ABOUT SECTION */

.about {
    margin-top: 187px;
}

.about__wrapper {
    max-width: 1069px;
}

.about-text {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.about-text span {
    font-weight: 500;
}

/* REALISES SECTION */

.releases {
    margin-top: 204px;
    position: relative;
}

.releases-video__wrapper {
    position: absolute;
    width: 100%;
    top: -80px;
    left: 0;
    z-index: -1;
    opacity: .5;
}

.releases-video__wrapper::before,
.releases-video__wrapper::after {
    content: "";
    height: 500px;
    top: 50%;
    transform: translateY(-50%);   
    width: 50%;
    position: absolute;
    z-index: 2;
}

.releases-video__wrapper::before {
    left: 0;
    background: linear-gradient(90deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 100%);
}
.releases-video__wrapper::after {
    right: 0;
    background: linear-gradient(270deg, #0D0D0D 0%, rgba(13, 13, 13, 0) 100%);
}

.releases-video {
    object-fit: cover;
    width: 100%;
    height: 250px;
    opacity: .1;
}

.releases__wrapper {
    display: flex;
    margin-top: 164px;
    overflow: hidden;
}

.releases__items {
    padding-left: 60px;
    display: flex;
    gap: 60px;
    animation: release-scroll 15s linear infinite;
}

.release {
    border-radius: 20px;
}

@keyframes release-scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* SERVICES SECTION */

.services {
    position: relative;
    margin-top: 156px;
}

.services .marquee {
    z-index: -1;
    position: absolute;
    padding-top: 0;
    top: -78px;
}

.services .marquee-item {
    animation: marquee-scroll 30s linear infinite;
}

.services__list {
    margin-top: 138px;
    max-width: 1030px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services__list-item {
    padding: 37px 0;
    border-bottom: 1px solid rgba(75, 75, 75, 1);
    font-size: 60px;
    font-weight: 500;
    line-height: 74px;
    color: rgba(128, 128, 128, 1);
    transition: .3s all;
}

.services__list-item.active {
    color: rgba(240, 142, 2, 1);
}

/* FEED SECTION */

.feed {
    margin-top: 150px;
    padding-bottom: 74px;
}

.feed__wrapper {
    max-width: 944px;
}

.feed-title {
    border-radius: 20px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    color: rgba(240, 142, 2, 1);
    padding: 15px;
    width: 100%;
    border: 3px solid rgba(240, 142, 2, 1);
}

.feed__form {
    margin-top: 33px;
}

.feed__form__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 28px;
}

.feed__form-input {
    background-color: rgba(35, 35, 35, 1);
    background-image: url(../img/form/input-before.svg);
    background-repeat: no-repeat;
    background-position: left 20px top 34px;
    padding: 24px 53px;
    border-radius: 15px;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(128, 128, 128, 1);
    position: relative;
}

.feed__form-input:nth-child(2) {
    background-image: none;
}

.feed__form-input:nth-child(-n + 4) {
    width: calc(50% - 8px);
}

textarea.feed__form-input {
    width: 100%;
    resize: none;
    height: 209px;
}

.feed__form__footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__form-btn {
    border-radius: 500px;
    padding: 20px 54px;
    background: rgba(240, 142, 2, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    color: #fff;
    transition: .4s all;
}

.feed__form-btn:hover {
    background: rgb(245, 178, 85);
    transform: scale(1.1);
}

.socials {
    display: flex;
    align-items: center;
    gap: 38px;
}

.socials__item {
    transition: .7s all;
}

.socials__item:hover {
    transform: scale(1.1);
}

.feed__form-copyright {
    margin-top: 28px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: rgba(128, 128, 128, 1);
}

/* ANIMATION ELEMS */

.animation-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.5s;
}

.animation-scroll.animated {
    opacity: 1;
    transform: translate(0) !important;
}

.releases.animation-scroll,
.services.animation-scroll {
    transform: translateY(100px);
    transition: all 1s;
}

.feed.animation-scroll {
    transform: translateX(-15%);
}

.animation-opacity {
    opacity: 0;
    transition: 3s ease;
}

.animation-opacity.animated {
    opacity: 1;
}